<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/test.css">
    <script src="https://use.fontawesome.com/ed62a54d4b.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/tenantscript.js"></script>
    <% include ../views/common/css %>
</head>
<body>
<div class="container">

  <% include ../views/common/header %>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Tenants:</h3>
                <form action="/tenants" method = "POST">
                  <select name="tenant"  onchange="javascript: if(this.value != '0') this.form.submit(); else alert('hello');">
                      <option value='0'>Choosing a tenant</option>
                      <%
                          for(var i = 0 ; i < tenantList.length; i++){ %>
                              <option value="<%= tenantList[i].TENANT_ID %>" <% if (itemSelected == tenantList[i].TENANT_ID) { %> selected="true" <% } %>> <%= tenantList[i].TABLE_NAME %></option>
                          <%}%>
                    </select>
                  </form>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><i class="fa fa-external-link" aria-hidden="true"></i> Link:</h3>
                <% if(Object.keys(itemSelected).length !== 0){%>
                  <a href="/grading/?tenant=<%= itemSelected %>" target="_blank">go to <%= itemSelected %></a>
                <%}%>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><i class="fa fa-magic" aria-hidden="true"></i>Grading Attributes:</h3>
                  <% if(toggleList.length != 0) {%>
                      <form action="/tenantstest" method="POST">
                        <input type="hidden" name="currentTenant" value="<%= itemSelected %>">
                        <table class="table table-inverse">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Type</th>
                              <th>Control Type</th>
                              <th>Selected</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i =0;i < toggleList.length;i++){
                                    if(toggleList[i].FIELD_NAME !="TEST"){
                                      var ifSelected = '';
                                      if(toggleList[i].TOGGLE == 1){ ifSelected = "checked='true'";}
                                      console.log(ifSelected);

                              %>
                                <tr>
                                  <th scope="row"><%= i %></th>
                                  <td><%= toggleList[i].FIELD_NAME %></td>
                                  <% if(toggleList[i].FIELD_NAME == "SCALE"){ %>
                                  <td>0&nbsp;<input type="range" min="0" max="100" step="1">&nbsp;100</output></td>
                                  <% } %>
                                  <% if(toggleList[i].FIELD_NAME == "POINT"){ %>
                                  <td><input type="textbox"></output></td>
                                  <% } %>
                                  <% if(toggleList[i].FIELD_NAME == "CNC"){ %>
                                  <td><label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                      </label>
                                  </td>
                                  <% } %>
                                  <% if(toggleList[i].FIELD_NAME == "COMMENTS"){ %>
                                  <td><textarea placeholder="What are you doing right now?" ></textarea></td>
                                  <% } %>
                                  <td> <input type="checkbox" class="toggleType" name='toggle' value='<%= toggleList[i].FIELD_NAME %>' <%=ifSelected %>></td>
                                </tr>
                           <%}}%>
                          </tbody>
                        </table>
                      </form>
                <%}%>
            </div>

        </div>

    </div>

</div>
</body>
</html>
