<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/test.css">
    <script src="https://use.fontawesome.com/ed62a54d4b.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/parsescript.js"></script>
    <% include ../views/common/css %>
    <style type="text/css">
    td
    {
      padding:0 40px 0 40px;
    }
    </style>
</head>
<body>

<div class="container">

    <% include ../views/common/header %>


    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Grading:</h3>
                  <table border="1">

                      <form method="POST" action="/persitgrade">
                            <tr>
                                <td>Test</td>
                                <% if (isFeatureEnabled('SCALE')) { %>
                                  <td>Scale</td>
                                <% } %>
                                <% if (isFeatureEnabled('POINT')) { %>
                                  <td>Point</td>
                                <% } %>
                                <% if (isFeatureEnabled('CNC')) { %>
                                  <td>Complete</td>
                                <% } %>
                                <% if (isFeatureEnabled('COMMENTS')) { %>
                                  <td>Comments</td>
                                <% } %>
                            </tr>
                          <%  for(var i=0; i< grades.length;i++) {%>
                            <tr>
                                <td><%= grades[i].COLUMN_1 %></td>
                                <% if (isFeatureEnabled('SCALE')) { %>
                                  <td><%= grades[i].COLUMN_2 %></td>
                                <% } %>
                              <% if (isFeatureEnabled('POINT')) { %>
                                <td><%= grades[i].COLUMN_3 %></td>
                              <% } %>
                              <% if (isFeatureEnabled('CNC')) { %>
                                <td><%= grades[i].COLUMN_4 %> </td>

                              <% } %>
                              <% if (isFeatureEnabled('COMMENTS')) { %>
                                  <td><%= grades[i].COLUMN_5 %> </td>
                              <% } %>
                          </tr>
                        <%}%>
                    </form>
                  </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
